<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [120]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

# starting value for 'initial' variable'

'\nPlaceholders\n'



### P2.PY

In [121]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

# x is my favourite number
x = 8
print (x)

# y is my favourite colour
y = "pink"
print (y)

8
pink



### P3.PY

In [9]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

# The Man
# Taylor Swift
print ("I would be complex")
print ("I would be cool")
print ("They would say I played the ﬁeld before I found someone to commit to")
print ("And that would be ok")

I would be complex
I would be cool
They would say I played the ﬁeld before I found someone to commit to
And that would be ok



## TYPECASTING

### P1.PY

In [118]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float (int (five))
print (float (int (five)))
print (type (five))

print('-'*10)

zero = float (int (zero))
print (float (int (zero)))
print (type (zero))

print('-'*10)


neg_8 = float (int (neg_8))
print (float (int (neg_8)))
print (type (neg_8))

print('-'*10)

neg_22 = float (int (neg_22))
print (float (int (neg_22)))
print (type (neg_22))

print('-'*10)


float_num = 5.0
int_num = int(float_num)
print(int_num)
print (type (int_num))

print('-'*10)


float_num = 0.0
int_num = int(float_num)
print(int_num)
print (type (int_num))

print('-'*10)


float_num = -8.0
int_num = int(float_num)
print(int_num)
print (type (int_num))

print('-'*10)


float_num = -22.0
int_num = int(float_num)
print(int_num)
print (type (int_num))

5.0
<class 'float'>
----------
0.0
<class 'float'>
----------
-8.0
<class 'float'>
----------
-22.0
<class 'float'>
----------
5
<class 'int'>
----------
0
<class 'int'>
----------
-8
<class 'int'>
----------
-22
<class 'int'>



### P2.PY

In [122]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(5)
print(five)
print (type (five))
five = int (five)
print (type (five))

print('-'*10)


zero = str(0)
print(zero)
print (type (zero))
zero = int (zero)
print (type (zero))

print('-'*10)


neg_8 = str(-8)
print (neg_8)
print (type (neg_8))
neg_8 = int (neg_8)
print (type (neg_8))

print('-'*10)

T = str(True)
print (T)
print (type (T))
F = int (T)
print (type (T))


print('-'*10)


F = str(False)
print (F)
print (type (F))
F = int (F)
print (type (F))

5
<class 'str'>
<class 'int'>
----------
0
<class 'str'>
<class 'int'>
----------
-8
<class 'str'>
<class 'int'>
----------
True
<class 'str'>

ValueError: invalid literal for int() with base 10: 'True'



### P3.PY

In [100]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
one = bool (one)
zero = bool (zero)
print (one)
print (type (one))
print (zero)
print (type (zero))

print('-'*10)


# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

zero = float (int (zero))
print (float (int (zero)))
print (type (zero))

one = float (int (one))
print (float (int (one)))
print (type (one))

print('-'*10)


# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

one = (bool (one))
print (one)
print (type (one))

zero = (bool (zero))
print (zero)
print (type (zero))

print('-'*10)


# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one = (int (one))
print (one)
print (type (one))

zero = (int (zero))
print (zero)
print (type (zero))

print('-'*10)


# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10

ten = (bool (ten))
print (ten)
print (type (ten))

True
<class 'bool'>
False
<class 'bool'>
----------
0.0
<class 'float'>
1.0
<class 'float'>
----------
True
<class 'bool'>
False
<class 'bool'>
----------
1
<class 'int'>
0
<class 'int'>
----------
True
<class 'bool'>



### P4.PY

In [99]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False

one = (bool (one))
print (one)
print (type (one))

zero = (bool (zero))
print (zero)
print (type (zero))

print('-'*10)

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = (int (one))
print (one)
print (type (one))

zero = (int (zero))
print (zero)
print (type (zero))

print('-'*10)

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

bool_true = (bool (bool_true))
print (bool_true)
print (type (bool_true))

bool_false = (bool (bool_false))
print (bool_false)
print (type (bool_false))

True
<class 'bool'>
False
<class 'bool'>
----------
1
<class 'int'>
0
<class 'int'>
----------
True
<class 'bool'>
False
<class 'bool'>



## OPERATORS

### P1.PY

In [34]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50

# Subtract 90

# Multiply 10

# Divide 150

# Modulus 3

print (100 + 50 - 90 *10 /150 %3)

150.0



### P2.PY

In [42]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

# Compound sentence 1: "I'll go to the zoo in the morning,"
# Compound sentence 2: "the park in the afternoon"
a = "I'll go to the zoo in the morning,"
b = "the park in the afternoon"
print(a, 'and', b)

I'll go to the zoo in the morning, and the park in the afternoon



### P3.PY

In [98]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

a = 0
b = 2
print (a + b)

print('-'*10)

# B)
c = '0'
d = '2'

c = (int (c))
d = (int (d))
print (c + d)

print('-'*10)

# C)
e = "0"
f = 2

e = "0"
f = 2

e = (int (e))
print (e + f)

2
----------
2
----------
2



### P4.PY

In [92]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

print (a + b)

print('-'*10)

# B)
c = False
d = False

print (c + d)

print('-'*10)

# C)
e = True
f = False

print (e + f)

2
----------
0
----------
1